<div class="table table-bordered">
  <a class="btn" href="/character/new">キャラ投稿へ</a>
</div>
<div class="table table-bordered">
  <% @characters.each do |character| %>
    <h4><%= character.name %></h4>
    <p>アビリティ</p>
    <% character.chara_abis.each do |characters_abilitys| %>
    <span><%= characters_abilitys.ability.name %></span>
    <span><%= characters_abilitys.valume %></span>
    <% end %>
    <br/><% if user_signed_in? %>
            <%= link_to '編集', "/character/#{character.id}/edit", method: :get %>
            <%= link_to '削除', "/character/#{character.id}", method: :delete %>
          <% end %> 
  <% end %>
</div>