<ul class="nav nav-tabs">
    
  <li class="nav-item">
    <a href="#tab1" class="nav-link" data-toggle="tab">手</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">頭</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">体</a>
  </li>
  <li class="nav-item">
    <a href="#tab4" class="nav-link" data-toggle="tab">足</a>
  </li>
  <li class="nav-item">
    <a href="#tab5" class="nav-link" data-toggle="tab">アクセ</a>
  </li>
</ul>


<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <%= render 'search_hand' %>
     
  </div>  
    
  <div id="tab2" class="tab-pane">
    <%= render 'search_head' %>
    
  </div>
  
  <div id="tab3" class="tab-pane">
    <%= render 'search_body' %>
      
  </div>
  
  <div id="tab4" class="tab-pane">
    <%= render 'search_foot' %>
  </div>
  
  <div id="tab5" class="tab-pane">
    <%= render 'search_accessory' %>
  </div>
</div>