<ul class="nav nav-tabs">
    
  <li class="nav-item">
    <a href="#tab1" class="nav-link" data-toggle="tab">手</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">頭</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">体</a>
  </li>
  <li class="nav-item">
    <a href="#tab4" class="nav-link" data-toggle="tab">足</a>
  </li>
  <li class="nav-item">
    <a href="#tab5" class="nav-link" data-toggle="tab">アクセ</a>
  </li>
</ul>


<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <div class="row">
    <div class="col-6">
        <div class="row">
          <% @part_hand.each do |equipment| %>
            <div class="col-6">
              <div class="panel panel-default col-auto col-offset-1">
                <div id="<%= equipment.id %>" class="panel-heading lead col-auto"><%= equipment.name %></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-auto">部位：</div>
                    <div><%= equipment.part %></div>
                    <div class="col-auto">装備レベル：</div>
                    <div><%= equipment.level %></div>
                  </div>
                  
                  <div class="row pull-left">
                    <p>アビリティ</p>
                    <table class="table table-condensed table-responsive table-noborder">
                      <% equipment.equip_abis.each do |equipments_abilitys| %>
                        <tbody>
                          <td class="col-auto"><%= equipments_abilitys.ability.name %></td>
                          <td class="col-auto"><%= equipments_abilitys.valume %></td>
                        </tbody>
                      <% end %>
                    </table>
                  </div>
                  
                  <div class="row pull-left">
                    <p>素材</p>
                    <table class="table table-condensed table-responsive table-noborder">
                      <% equipment.equip_mates.each do |equipments_materials| %>
                        <tbody>
                          <td class="col-auto"><%= equipments_materials.material.name %></td>
                          <td class="col-auto"><%= equipments_materials.value %></td>
                       </tbody>
                      <% end %>
                    </table>
                  </div>
                </div>  
                  
                <div class="panel-footer">
                </br><% if user_signed_in? %>
                       <%= link_to '編集', "/equipments/#{equipment.id}/edit", method: :get %>
                       <%= link_to '削除', "/equipments/#{equipment.id}", method: :delete %>
                     <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
    </div>  
  </div>  
    
  <div id="tab2" class="tab-pane">
     
    
  </div>
  
  <div id="tab3" class="tab-pane">
      <p>c</p>
  </div>
  
  <div id="tab4" class="tab-pane">
      <p>d</p>
  </div>
  
  <div id="tab5" class="tab-pane">
      <p>e</p>
  </div>
</div>