<nav class="navbar navbar-expand-md navbar-dark bg-info navbar-fixed-top offset-7 col-5">
  <a class="navbar-brand" href="#">装備検索navi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                名前一覧
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">
                  <% @equipments.each do |equipment| %>
                    <a href="/equipments#name"><%= equipment.name %></a></br>
                  <% end %>
                </a>
            </div>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" href="#">アビリティで絞る</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">検索フォーム予定</a>
        </li>
    </ul>
  </div>
</nav>


<div class="table table-bordered">
  <% if user_signed_in? %>
    <div class="user_nav grid-6">
      <%= link_to '装備投稿へ', "/equipments/new", class:  'btn' %>
    </div>
  <% end %>
</div>

<div class="conetainer">
  <div class="row">
    <div class="col-6">
      <% @equipments.each do |equipment| %>
        <div class="panel panel-default col-auto col-offset-1">
          <div id="name" class="panel-heading lead col-auto"><%= equipment.name %></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-auto">部位：</div>
              <div><%= equipment.part %></div>
              <div class="col-auto">装備レベル：</div>
              <div><%= equipment.level %></div>
            </div>
            
            <div class="row pull-left">
              <p>アビリティ</p>
              <table class="table table-condensed table-responsive table-noborder">
                <% equipment.equip_abis.each do |equipments_abilitys| %>
                  <tbody>
                    <td class="col-auto"><%= equipments_abilitys.ability.name %></td>
                    <td class="col-auto"><%= equipments_abilitys.valume %></td>
                  </tbody>
                <% end %>
              </table>
            </div>
            
            <div class="row pull-left">
              <p>素材</p>
              <table class="table table-condensed table-responsive table-noborder">
                <% equipment.equip_mates.each do |equipments_materials| %>
                  <tbody>
                    <td class="col-auto"><%= equipments_materials.material.name %></td>
                    <td class="col-auto"><%= equipments_materials.value %></td>
                 </tbody>
                <% end %>
              </table>
            </div>
          </div>  
            
          <div class="panel-footer">
          </br><% if user_signed_in? %>
                 <%= link_to '編集', "/equipments/#{equipment.id}/edit", method: :get %>
                 <%= link_to '削除', "/equipments/#{equipment.id}", method: :delete %>
               <% end %>
          </div>
    </div>      
  </div>
        </div>       
      <% end %>
 
</div>

