<div class="table table-bordered">
  <a class="btn" href="/equipment/new">装備投稿へ</a>
</div>
<div class="table table-bordered">
  <% @equipments.each do |equipment| %>
    <h4><%= equipment.name %></h4>
    <p><%= equipment.part %></p>
    <p><%= equipment.level %></p>
    
    <p>アビリティ</p>
    <% equipment.equip_abis.each do |equipments_abilitys| %>
    <span><%= equipments_abilitys.ability.name %></span>
    <span><%= equipments_abilitys.valume %></span>
    <% end %>
    <p>素材</p>
    <% equipment.equip_mates.each do |equipments_materials| %>
    <span><%= equipments_materials.material.name %></span>
    
    <% end %>
  <% end %>
</div>