<div class="table table-bordered">
  
  <% if user_signed_in? %>
    <div class="user_nav grid-6">
      <%= link_to '装備投稿へ', '/equipment/new', class: 'btn' %>
    </div>
  <% end %>
  
</div>
<div class="table table-bordered">
  <% @equipments.each do |equipment| %>
    <h4><%= equipment.name %></h4>
    <span class="part">部位：</span>
    <span><%= equipment.part %></span>
    <span class="level">装備レベル：</span>
    <span><%= equipment.level %></span>
    
    <p>アビリティ</p>
    <% equipment.equip_abis.each do |equipments_abilitys| %>
    <span><%= equipments_abilitys.ability.name %></span>
    <span><%= equipments_abilitys.valume %></span>
    <% end %>
    <p>素材</p>
    <% equipment.equip_mates.each do |equipments_materials| %>
    <span><%= equipments_materials.material.name %></span>
    <span><%= equipments_materials.value %></span>
    <% end %>
    
    </br><% if user_signed_in? %>
            <%= link_to '編集', "/equipment/#{equipment.id}/edit", method: :get %>
            <%= link_to '削除', "/equipment/#{equipment.id}", method: :delete %>
          <% end %> 
  <% end %>
</div>