<ul class="nav nav-tabs">
    
  <li class="nav-item">
    <a href="#tab1" class="nav-link" data-toggle="tab">第一部</a>
  </li>
  <li class="nav-item">
    <a href="#tab2" class="nav-link" data-toggle="tab">第二部</a>
  </li>
  <li class="nav-item">
    <a href="#tab3" class="nav-link" data-toggle="tab">未定</a>
  </li>
  <li class="nav-item">
    <a href="#tab4" class="nav-link" data-toggle="tab">コラボ</a>
  </li>
  <li class="nav-item">
    <a href="#tab5" class="nav-link" data-toggle="tab">初期</a>
  </li>
</ul>


<div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="row">
            <div class="col-6">
                <div class="row">
                  <% @characters.each do |character| %>
                    <div class="col-6">
                    <div class="panel panel-default col-auto col-offset-1">
                      <div id="name" class="panel-heading lead col-auto"><%= character.name %></div>
                      <div class="panel-body">
                        <p>アビリティ</p>
                        <% character.chara_abis.each do |characters_abilitys| %>
                        <span><%= characters_abilitys.ability.name %></span>
                        <span><%= characters_abilitys.valume %></span>
                        <% end %>
                        <div class="panel-footer">
                          <% if user_signed_in? %>
                            <%= link_to '編集', "/characters/#{character.id}/edit", method: :get %>
                            <%= link_to '削除', "/characters/#{character.id}", method: :delete %>
                          <% end %> 
                        </div>  
                      </div>      
                    </div>
                    </div>
                  <% end %>
                </div>
            </div>
            </div>

        </div>
        
        <div id="tab2" class="tab-pane">
           
        
        </div>
        
        <div id="tab3" class="tab-pane">
            <p>c</p>
        </div>
        
        <div id="tab4" class="tab-pane">
            <p>d</p>
        </div>
        
        <div id="tab5" class="tab-pane">
            <p>e</p>
        </div>
</div>