<%= render 'navbar' %>

<div class="container">
  <div class="row">
  <div class="panel panel-default">　
    <%= form_for @character, url: "/characters/#{@character.id}" do |f| %>
        <div class="panel-heading">編集する</div>
  
        <div class="panel-body">
          <div class="row">
            <div class="form-group">
              <label class="col-sm-5 control-label">英雄名</label>
              <div class="col-10">
               <%= f.text_field :name %>
              </div>
            </div>
          </div>
          
          <div class="row">
          <div class="form-group">
              <label class="col-12 control-label">アビリティ</label>
                <%= f.fields_for :chara_abis do |abi| %>
                  <%= render 'chara_abi_fields', f: abi %>
                    <div id="links">
                      <%= link_to_add_association "アビリティ追加", f, :chara_abis %><br/>
                    </div>
                <% end %>
            </div>
            </div>
          
          <div class="row">
          <div class="form-group">
            <label class="col-12 control-label">種類</label>
            <div class="col-sm-10 radio">
              <label><%= f.radio_button :genre, "モンハン" %>モンハン</label>
              <label><%= f.radio_button :genre, "素材集め" %>素材集め</label>
              <label><%= f.radio_button :genre, "戦争" %>戦争</label>
            </div>
          </div>
          </div>
                  
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <%= f.submit "登録" %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
    </div>
</div>