<div class="table table-bordered">
  <% if user_signed_in? %>
    <div class="user_nav grid-6">
      <%= link_to 'キャラ投稿へ', "/characters/new", method: :get, class: 'btn' %>
    </div>
  <% end %>
</div>

<div class="conetainer">
  <div class="table table-bordered">
    <% @characters.each do |character| %>
      <div class="panel panel-default col-4">
        <div id="name" class="panel-heading lead col-auto"><%= character.name %></div>
        <div class="panel-body">
          <p>アビリティ</p>
          <% character.chara_abis.each do |characters_abilitys| %>
          <span><%= characters_abilitys.ability.name %></span>
          <span><%= characters_abilitys.valume %></span>
          <% end %>
          <div class="panel-footer">
            <% if user_signed_in? %>
              <%= link_to '編集', "/characters/#{character.id}/edit", method: :get %>
              <%= link_to '削除', "/characters/#{character.id}", method: :delete %>
            <% end %> 
          </div>  
        </div>      
      </div>  
    <% end %>
    
  </div>
   <div class="panel panel-default col-2"> 
    <div class="panel-heading lead col-auto">一覧</div>
      <div class="navbar col-auto">
        <div class="panel-body">
          <% @characters.each do |character| %>
            <a href="/character#name"><%= character.name %></a></br>
          <% end %>
        </div>
      </div>
  </div>
  
</div>