<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Myroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
        <div class="panel panel-default bg-success">
      <div class="panel-heading">
        <h1>mss情報板</h1>
      </div>
      <div class="panel-body">
        <ul　class="table table-bordered">
            <%= link_to 'TOP', '/', class: 'btn btn-primary' %>
            <%= link_to '装備', '/equipments', class: 'btn btn-danger' %>
            <%= link_to '英雄', '/characters', class: 'btn btn-info' %>
            <%= link_to '初心者向け/小ネタ', '/', class: 'btn btn-warning' %>
            <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'pull-right'  %>
            <% else %>
                <%= link_to "ログイン", new_user_session_path, class: 'pull-right' %>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
