<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Myroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>

  <body>
        <div class="panel panel-default bg-success">
      <div class="panel-heading">
        <h1>mss情報板</h1>
      </div>
      <div class="panel-body">
        <ul　class="table table-bordered">
          <li class="btn">
             <a href="/">
               <p class="text-muted">TOP</p>
             </a>
            </li>
            <li class="btn btn-danger">
             <a href="/equipment">
               <p class="text-muted">装備</p>
             </a>
            </li>
            <li class="btn btn-info">
             <a href="/character">
               <p class="text-muted">英雄</p>
             </a>
            </li>  
            <li class="btn btn-primary">
             <a href="">
               <p class="text-muted">初心者向け</p>
             </a>
            </li>
            <li class="btn btn-warning">
             <a href="">
               <p class="text-muted">小ネタ・小技</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
